@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Welcome to the Travel Packers website.</h2><br />
<p>This is a travel packing site to help you decide what to pack when going on vacation.</p>
<p>Please excuse the mess as the site is still under construction.</p><br />